.title-center {
     text-align: center;
     color: white !important;
     font-size: 48px !important;
     margin-bottom: 60px;
}

.question-title {
     font-size: 18px;
     color: white !important;
     font-weight: 32px !important;
     margin-bottom: 5px !important;
}

.movies_title {
     color: white;
     font-size: 15px;
     margin-top: 8px;
     text-align: center;
     font-weight: bold;
}

.spe_title {
     color: white !important;
     font-size: 48px;
     text-align: center;
     margin-bottom: 20px;
}

.date {
     font-size: 16px !important;
     color: white;
     text-align: left;
     margin-top: 20px !important;
}

.time {
     font-size: 16px !important;
     color: white;
     text-align: left;
     margin-top: 0px !important;
     margin-bottom: 2px !important;
}

.note {
     font-size: 16px !important;
     color: white;
     text-align: left;
     margin-top: 0px !important;
     margin-bottom: 2px !important;
}

.genres {
     font-size: 14px !important;
     color: white;
     text-align: right;
     margin-top: 20px !important;
}

.description {
     margin-top: 20px;
     font-size: 14px !important;
     color: white;
     margin-top: 15px !important;
}

.avis_title {
     color: white !important;
     font-size: 38px;
     text-align: center;
     margin-top: 120px;
}

.slider_avis_title {
     font-size: 16px !important;
     color: white;
     text-align: left;
     margin-top: 8px !important;
}

.top_fr {
     font-size: 32px !important;
     color: white;
     text-align: left;
     margin-top: 0px !important;
     margin-bottom: 5px !important;
}

.card {
    background: #420f0f;
    padding: 20px;
    border-radius: 16px;
    box-shadow: 0 6px 20px #420f0f}

.title-etude{
     text-align: left;
     color: rgb(207, 5, 5) !important;
     font-size: 25px !important;
     margin-bottom: 10px !important;
     font-weight: 700 !important;
     font-family: Helvetica !important;
}

.stButton > button {
    border-radius: 15px;
    background-color: #420f0f78;
    color: white;
    border: none;
}

/*==============================================================*/
/*                        SHAPE                                 */
/*==============================================================*/

.shape-red-right {
    position: fixed;

    width: 600px;
    height: 600px;

    top: -200px;
    right: -150px;

    background:
        radial-gradient(
            circle,
            rgba(229,9,20,0.4),
            transparent 70%
        );

    filter: blur(80px);

    z-index: 0;
}

.shape-red-left {
    position: fixed;

    width: 600px;
    height: 600px;

    top: -200px;
    left: 150px; 

    background:
        radial-gradient(
            circle,
            #e5091466,
            transparent 70%
        );

    filter: blur(80px);

    z-index: 10;
}

.logo {
     position: fixed;
     top: 100px;
     left: 330px;

     font-size: 40px;
     font-weight: bold;

     color: rgb(207, 5, 5);

     z-index: 99999;
}

.Reco {
     position: sticky;
     top: 100px;
     left: 490px;

     font-size: 40px;
     font-weight: bold;

     color: white;

     z-index: 9999;
}

.logo_sticky {
     position: sticky;
     top: 100px;
     left: 330px;

     font-size: 40px;
     font-weight: bold;

     color: rgb(207, 5, 5);

     z-index: 99999;
}

.film-reel {
    position: fixed;

    width: 520px;
    height: 520px;

    bottom: -220px;
    right: -250px;

    border-radius: 50%;

    /* disque principal */
    background:
        /* centre */
        radial-gradient(circle,
            rgba(0,0,0,0.9) 0 60px,
            transparent 61px
        ),

        /* anneau principal */
        radial-gradient(circle,
            transparent 120px,
            rgba(229,9,20,0.35) 121px 160px,
            transparent 161px
        ),

        /* second anneau */
        radial-gradient(circle,
            transparent 200px,
            rgba(229,9,20,0.25) 201px 240px,
            transparent 241px
        ),

        /* trous de bobine (effet perforation) */
        repeating-conic-gradient(
            from 0deg,
            rgba(229,9,20,0.4) 0deg 8deg,
            transparent 8deg 30deg
        );

    opacity: 0.22;

    filter: blur(1.5px);

    z-index: 1;

    pointer-events: none;

     animation: spin 10s linear infinite;
}


.film-reel-left {
    position: fixed;

    width: 520px;
    height: 520px;

    top: 40px;

    left: 240px;

    border-radius: 50%;

    background:
        radial-gradient(circle,
            rgba(0,0,0,0.9) 0 60px,
            transparent 61px
        ),

        radial-gradient(circle,
            transparent 120px,
            rgba(229,9,20,0.35) 121px 160px,
            transparent 161px
        ),

        radial-gradient(circle,
            transparent 200px,
            rgba(229,9,20,0.25) 201px 240px,
            transparent 241px
        ),

        repeating-conic-gradient(
            from 0deg,
            rgba(229,9,20,0.4) 0deg 8deg,
            transparent 8deg 30deg
        );

    opacity: 0.22;

    filter: blur(1.5px);

    z-index: 0;

    pointer-events: none;

    animation: spin 40s linear infinite;
}

.trophy {
    position: fixed;

    width: 400px;
    height: 500px;

    bottom: 0px;
    right: 40px;

    background:
        radial-gradient(circle at 50% 20%,
            rgba(229, 9, 20, 0.479) 0 60px,
            transparent 61px
        ),
        radial-gradient(circle at 50% 50%,
            rgba(229, 9, 20, 0.717) 0 140px,
            transparent 141px
        ),
        radial-gradient(circle at 50% 85%,
            rgba(203, 11, 11, 0.782) 0 60px,
            transparent 61px
        );

    opacity: 0.18;

    filter: blur(1px);

    z-index: 0;

    pointer-events: none;

    animation: glow 5s ease-in-out infinite;
}

.trophy-left {
    position: fixed;

    width: 400px;
    height: 500px;

    top: 0px;
    left: 240px;

    background:
        radial-gradient(circle at 50% 20%,
            rgba(229, 9, 20, 0.717) 0 140px,
            transparent 61px
        ),
        radial-gradient(circle at 50% 85%,
            rgba(203, 11, 11, 0.782) 0 60px,
            transparent 61px
        );

    opacity: 0.18;

    filter: blur(1px);

    z-index: 0;

    pointer-events: none;

    animation: glow 5s ease-in-out infinite;
}

.cinema-light {
    position: fixed;

    width: 800px;
    height: 800px;

    top: 20px;
    left: 240px;

    pointer-events: none;

    z-index: 0;

    background: radial-gradient(circle at 30% 30%,
        rgba(229,9,20,0.5) 0%,
        rgba(229,9,20,0.2) 25%,
        rgba(229,9,20,0.08) 45%,
        transparent 70%
    );

    filter: blur(50px);

    animation: pulseLight 4s ease-in-out infinite;
}

/*==============================================================*/
/*                        ANIMATION                             */
/*==============================================================*/

@keyframes spin {
from {
     transform: rotate(0deg);
}
to {
     transform: rotate(360deg);
}
}

@keyframes glow {
    0% {
        opacity: 0.18;
        filter: blur(2px) drop-shadow(0 0 10px rgba(229,9,20,0.2));
    }
    50% {
        opacity: 0.28;
        filter: blur(1px) drop-shadow(0 0 25px rgba(229,9,20,0.4));
    }
    100% {
        opacity: 0.18;
        filter: blur(2px) drop-shadow(0 0 10px rgba(229,9,20,0.2));
    }
}

@keyframes pulseLight {
    0% {
        transform: scale(1);
        opacity: 0.3;
    }
    50% {
        transform: scale(1.2);
        opacity: 0.55;
    }
    100% {
        transform: scale(1);
        opacity: 0.3;
    }
}

